.header, .header-pc {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 50px 60px;
  z-index: 1;
}
.header__logo:hover, .header-pc__logo:hover {
  opacity: 70%;
}
.header__page, .header-pc__page {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: initial;
  gap: 6px;
}
.header__page svg, .header-pc__page svg {
  fill: #F0145A;
}
.header__page span, .header-pc__page span {
  color: #323264;
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.75rem;
  letter-spacing: 0em;
}
.header__page--dark-bg svg, .header-pc__page--dark-bg svg {
  fill: #F0145A;
}
.header__page--dark-bg span, .header-pc__page--dark-bg span {
  color: #ffffff;
}
.header__page--mob span, .header-pc__page--mob span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
}
.header__page--mob svg, .header-pc__page--mob svg {
  width: 15px;
  height: 26px;
}
.header--position, .header-pc--position {
  position: static;
}

.header-tablet .nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: initial;
  gap: 20px;
}

.header-mob {
  padding: 0px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: initial;
  gap: 0px;
}
.header-mob .info {
  background-color: rgba(255, 255, 255, 0.15);
  padding: 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 6px;
}
.header-mob .info__label strong, .header-mob .info__phone strong {
  color: #B3B3BA;
}
.header-mob .info__label--active strong, .header-mob .info__phone--active strong {
  color: #ffffff;
}
.header-mob .nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 15px;
}
.header-mob img {
  width: 69px;
  height: 32px;
}
.header-mob--white-bg .info {
  background-color: #F5F5FA;
}
.header-mob--white-bg .popup-shower svg path {
  stroke: #323264;
}
.header-mob--white-bg .popup-shower:hover {
  background-color: #E6E6F0;
}

.popup-checkbox, .popup {
  display: none;
}

.popup-shower {
  cursor: pointer;
  height: 32px;
  width: 32px;
}
.popup-shower svg path {
  stroke: #ffffff;
}

.popup-shower:hover {
  background-color: #686887;
  border-radius: 8px;
}

.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.popup:before {
  display: block;
  content: " ";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(50, 50, 100, 0.7);
}

.popup-content {
  width: 94%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  box-sizing: border-box;
}
.popup-content .menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 66px 12px 12px;
  margin: 0 8px;
}
.popup-content .menu a {
  color: #24A3FF;
}
.popup-content .menu li {
  padding: 7px 0px;
  background-color: #F5F5FA;
  border-radius: 12px;
  width: 100%;
  text-align: center;
}
.popup-content .menu__link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;
  letter-spacing: 0em;
}

.popup-closer {
  cursor: pointer;
  top: 12px;
  right: 12px;
  display: block;
  position: absolute;
}

.popup-closer:hover {
  background-color: #E6E6F0;
  border-radius: 8px;
}

.popup-checkbox:checked + .popup {
  opacity: 1;
  display: block;
}

.nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 12px;
}
.nav a {
  color: #24A3FF;
}
.nav a span {
  color: #B3B3BA;
}
.nav a strong {
  color: #B3B3BA;
}
.nav a svg {
  fill: #B3B3BA;
}
.nav label strong {
  color: #B3B3BA;
}
.nav--dark-bg .info__address :hover span, .nav--dark-bg .info__phone :hover span, .nav--dark-bg .info__social :hover span {
  color: #F0145A;
}
.nav--dark-bg .info__address :hover strong, .nav--dark-bg .info__phone :hover strong, .nav--dark-bg .info__social :hover strong {
  color: #F0145A;
}
.nav--dark-bg .info__address :hover svg, .nav--dark-bg .info__phone :hover svg, .nav--dark-bg .info__social :hover svg {
  fill: #F0145A;
}
.nav--dark-bg .info a {
  color: #ffffff;
}
.nav--dark-bg .info a span {
  color: #ffffff;
}
.nav--dark-bg .info a strong {
  color: #ffffff;
}
.nav--dark-bg .info a svg {
  fill: #ffffff;
}
.nav--dark-bg .info label strong {
  color: #ffffff;
}
.nav--dark-bg a {
  color: #ffffff;
}
.nav--dark-bg a span {
  color: #ffffff;
}
.nav--dark-bg a strong {
  color: #ffffff;
}
.nav--dark-bg a svg {
  fill: #ffffff;
}
.nav--dark-bg label strong {
  color: #ffffff;
}

.info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: initial;
  gap: 6px;
}
.info__address :hover span, .info__phone :hover span, .info__social :hover span {
  color: #F0145A;
}
.info__address :hover strong, .info__phone :hover strong, .info__social :hover strong {
  color: #F0145A;
}
.info__address :hover svg, .info__phone :hover svg, .info__social :hover svg {
  fill: #F0145A;
}
.info__label {
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 8px;
}
.info__label input {
  display: none;
}
.info__label--active {
  background-color: #F0145A;
}
.info__label--active :nth-child(1) {
  color: #ffffff;
}
.info__label:hover {
  background-color: #E6E6F0;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: initial;
  gap: 15px;
}
.menu a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0em;
}
.menu__item--open {
  border-bottom: #F0145A 2px solid;
  padding-bottom: 3px;
}
.menu__item--open a {
  color: #F0145A;
}
.menu__link:hover {
  border-bottom: 2px solid;
  padding-bottom: 3px;
}

@media (min-width: 1920px) {
  .header-tablet, .header-mob {
    display: none;
  }
  .header-pc {
    display: flex;
  }
  .header {
    padding: 50px 160px;
  }
}
@media (max-width: 1920px) {
  .header-tablet, .header-mob {
    display: none;
  }
  .header-pc {
    display: flex;
  }
}
@media (max-width: 958px) {
  .header-pc, .header-mob {
    display: none;
  }
  .header-tablet {
    display: flex;
  }
}
@media (max-width: 617px) {
  .header-pc, .header-tablet {
    display: none;
  }
  .header-mob {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */