@import '../colors/style.scss';
@import '../mixins/style.scss';

.intro{
    @include flex(row nowrap, flex-start, initial, 30px);
    padding: 10px 180px 60px;
    &__txt{
        @include flex(column nowrap, flex-start, space-between, 30px);
        h1{
            background-image: $gradient-red-text;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p{
            @include Montserrat(1.1875rem, 400, 1.875rem, 0);
        }
    }
    &__items{
        @include flex(column nowrap, flex-start, initial, 10px);
        p{
            @include Montserrat(1rem, 400, 1.2188rem, 0);
            color: $main-regular;
        }
    }
    &__item{
        @include flex(row nowrap, center, initial, 8px);
        span{
            @include Montserrat(2.25rem, 700, 2.75rem, 0);
            background-image: $gradient-red-text;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &__advantages{
        @include flex(column nowrap, flex-start, initial, 30px);
        border-left: 4px $grey-separator solid;
        padding-left: 30px;
        min-width: 25%;
    }
}

.full-bg{
    background-image: url(../img/photos/team-bg.png);
    background-position: center;
    background-size: cover;
    height: calc(0.3*100vw);
    @include flex(column nowrap, center, center, initial);
    span{
        text-align: center;
        padding-left: 3.9rem;
        opacity: 80%;
        @include Montserrat(6rem, 700, 7rem, 3.9rem);
        text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
        color: $white;
    }
}

.more{
    @include flex(row nowrap, flex-start, initial, 30px);
    padding: 60px 180px;
    h1{
        background-image: $gradient-red-text;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        min-width: 25%;
        padding-left: 30px;
    }
    p{
        @include Montserrat(1.1875rem, 400, 1.875rem, 0);
    }
    &__txt{
        @include flex(column nowrap, flex-start, initial, 30px);
    }
}

.achievements{
    background-color: $grey-bg;
    padding: 30px 60px;
    @include flex(column nowrap, center, initial, 30px);
    &__title{
        color: $main-regular;
        text-transform: uppercase;
        text-align: center;
        @include Montserrat(0.875rem, 700, 1.5rem, 0em);
    }
    &__wrapper{
        @include flex(row nowrap, center, space-between, 40px);
        width: 100%;
    }
    &__item{
        background-color: $white;
        @include flex(row nowrap, center, center, initial);
        height: 110px;
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
        img{
            max-width: 100%;
        }
    }
    &__slider{
        :nth-child(4),:nth-child(5),:nth-child(6){
            display: none;
        }
    }
}

@media (min-width: 1920px){
    .intro{
        padding: 10px 280px 60px;
    }
    .more{
        padding: 60px 280px;
    }   
    .achievements{
        padding: 30px 160px;
    }
}
@media (max-width: 958px){
    .intro{
        padding: 10px 60px 60px;
        @include flex(column nowrap, flex-start, initial, 30px);
        &__advantages{
            max-width: 100%;
        }
    }
    .more{
        padding: 60px 60px;
        @include flex(column nowrap, flex-start, initial, 30px);
        h1{
            min-width: 100%;
            padding-left: 0px;
        }
    }   
    .achievements{
        padding: 30px 60px;
    }
    .full-bg{
        span{
            padding-left: 3.9375rem;
            @include Montserrat(2.875rem, 700, 3.5rem, 3.9375rem);
        }
    }
}
@media (max-width: 642px){
    .intro{
        padding: 120px 30px 30px;
        &__txt{
            h1{
                @include Montserrat(1.875rem, 700, 2.2856rem, 0em);
            }
        }
    }
    .more{
        padding: 60px 30px;
        h1{
            @include Montserrat(1.875rem, 700, 2.2856rem, 0em);
        }
    }   
    .achievements{
        padding: 30px 30px;
        &__slider{
            :nth-child(4),:nth-child(5),:nth-child(6){
                display: block;
            }
        }
        &__wrapper{
            :nth-child(2),:nth-child(3),:nth-child(4){
                display: none;
            }
        }
    }
    .full-bg{
        span{
            padding-left: 0.8125rem;
            @include Montserrat(2.25rem, 700, 2.7425rem, 0.8125rem);
        }
    }
}
