.intro {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: initial;
  gap: 30px;
  padding: 10px 180px 60px;
}
.intro__txt {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.intro__txt h1 {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro__txt p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0;
}
.intro__items {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: initial;
  gap: 10px;
}
.intro__items p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2188rem;
  letter-spacing: 0;
  color: #323264;
}
.intro__item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: initial;
  gap: 8px;
}
.intro__item span {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.75rem;
  letter-spacing: 0;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro__advantages {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: initial;
  gap: 30px;
  border-left: 4px #E6E6F0 solid;
  padding-left: 30px;
  min-width: 25%;
}

.full-bg {
  background-image: url(../img/photos/team-bg.png);
  background-position: center;
  background-size: cover;
  height: 30vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: initial;
}
.full-bg span {
  text-align: center;
  padding-left: 3.9rem;
  opacity: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 7rem;
  letter-spacing: 3.9rem;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
  color: #ffffff;
}

.more {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: initial;
  gap: 30px;
  padding: 60px 180px;
}
.more h1 {
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 25%;
  padding-left: 30px;
}
.more p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0;
}
.more__txt {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: initial;
  gap: 30px;
}

.achievements {
  background-color: #F5F5FA;
  padding: 30px 60px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: initial;
  gap: 30px;
}
.achievements__title {
  color: #323264;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0em;
}
.achievements__wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}
.achievements__item {
  background-color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: initial;
  height: 110px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.achievements__item img {
  max-width: 100%;
}
.achievements__slider :nth-child(4), .achievements__slider :nth-child(5), .achievements__slider :nth-child(6) {
  display: none;
}

@media (min-width: 1920px) {
  .intro {
    padding: 10px 280px 60px;
  }
  .more {
    padding: 60px 280px;
  }
  .achievements {
    padding: 30px 160px;
  }
}
@media (max-width: 958px) {
  .intro {
    padding: 10px 60px 60px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: initial;
    gap: 30px;
  }
  .intro__advantages {
    max-width: 100%;
  }
  .more {
    padding: 60px 60px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: initial;
    gap: 30px;
  }
  .more h1 {
    min-width: 100%;
    padding-left: 0px;
  }
  .achievements {
    padding: 30px 60px;
  }
  .full-bg span {
    padding-left: 3.9375rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: 3.9375rem;
  }
}
@media (max-width: 642px) {
  .intro {
    padding: 120px 30px 30px;
  }
  .intro__txt h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.2856rem;
    letter-spacing: 0em;
  }
  .more {
    padding: 60px 30px;
  }
  .more h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.2856rem;
    letter-spacing: 0em;
  }
  .achievements {
    padding: 30px 30px;
  }
  .achievements__slider :nth-child(4), .achievements__slider :nth-child(5), .achievements__slider :nth-child(6) {
    display: block;
  }
  .achievements__wrapper :nth-child(2), .achievements__wrapper :nth-child(3), .achievements__wrapper :nth-child(4) {
    display: none;
  }
  .full-bg span {
    padding-left: 0.8125rem;
    font-family: "Montserrat", sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.7425rem;
    letter-spacing: 0.8125rem;
  }
}/*# sourceMappingURL=style.css.map */