.adress {
  display: flex;
  flex-flow: column nowrap;
  align-items: initial;
  justify-content: initial;
  gap: 10px;
  border-bottom: 4px #E6E6F0 solid;
  padding-bottom: 30px;
  width: 100%;
}
.adress__phone, .adress__location, .adress__email {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: 0em;
}
.adress__email {
  color: #24A3FF;
}
.adress__phone, .adress__location {
  color: #323264;
}
.adress__social {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: initial;
  gap: 10px;
}
.adress__social svg {
  fill: #24A3FF;
  width: 38px;
  height: 38px;
}
.adress__social strong {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: #24A3FF;
}
.adress__social :hover strong, .adress__social :hover svg {
  color: #F0145A;
  fill: #F0145A;
}
.adress__social:hover svg {
  fill: #F0145A;
}
.adress__social:hover strong {
  color: #F0145A;
}
.adress a:hover {
  color: #F0145A;
}

.phorm {
  display: flex;
  flex-flow: column nowrap;
  align-items: initial;
  justify-content: initial;
  gap: 30px;
}
.phorm__items {
  display: flex;
  flex-flow: column nowrap;
  align-items: initial;
  justify-content: initial;
  gap: 15px;
}
.phorm__items input, .phorm__items textarea {
  padding: 15px;
  border: none;
  border-radius: 8px;
  color: #000000;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0em;
}
.phorm__items input[type=text]:focus,
.phorm__items textarea[type=text]:focus,
.phorm__items input[type=tel]:focus,
.phorm__items input[type=email]:focus {
  border: #24A3FF 2px solid;
}
.phorm__items textarea {
  resize: none;
  height: 70px;
}
.phorm__items ::-moz-placeholder {
  color: #B3B3BA;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0em;
}
.phorm__items ::placeholder {
  color: #B3B3BA;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0em;
}
.phorm__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0em;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.phorm__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: #B3B3BA;
}

.contact-page {
  display: flex;
  flex-flow: row nowrap;
  align-items: initial;
  justify-content: space-between;
  gap: 60px;
  padding: 60px 180px;
}
.contact-page__adress-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: initial;
  gap: 30px;
  width: 100%;
}
.contact-page__phorm-wrapper {
  width: 100%;
  background-color: #F5F5FA;
  border-radius: 12px;
  padding: 30px;
}
.contact-page__phorm-wrapper:hover {
  box-shadow: 7px 8px 25px -5px rgba(179, 179, 186, 0.5);
  transition: 0.5s;
  transform: scale(1.005);
}

@media (min-width: 1920px) {
  .contact-page {
    padding: 60px 280px;
  }
}
@media (max-width: 1440px) {
  .contact-page {
    padding: 60px;
  }
}
@media (max-width: 958px) {
  .contact-page {
    display: flex;
    flex-flow: column wrap;
    align-items: initial;
    justify-content: initial;
    gap: 60px;
    padding: 30px 60px 60px;
  }
  .contact-page__phorm-wrapper {
    max-width: 100%;
    width: initial;
  }
}
@media (max-width: 617px) {
  .contact-page {
    padding: 140px 30px 30px;
  }
}/*# sourceMappingURL=style.css.map */