@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
$black: #000000;
$white: #ffffff;
$supersoft: linear-gradient(to bottom left, #323264, #323264, #643E72);


@mixin flex($flex-flow, $align, $justify, $gap){
    display: flex;
    flex-flow: $flex-flow;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}
@mixin Roboto($size, $weight, $height, $letter){
    font-family: Roboto;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $letter;
}
body{
    font-family: 'Roboto', sans-serif;
}
//FONTS
h1{
    @include Roboto(3rem, 400, 3.5rem, 0em);
    color: $head-txt;
}
h2{
    @include Roboto(1.5rem, 400, 2rem, 0em);
}
p{
    @include Roboto(1rem, 400, 1.5rem, 0em);
}
//LOGO

//BUTTONS

//HEADER
